.menu {
    cursor: pointer !important;
    height: 50px !important;
    padding-top: 1px;
    z-index: 10;
  }
  
  .name {
    margin-right: 10px;
  }
  
  @media (max-width: 600px) {
    .name {
      display: none;
    }
  }

.teste {
  z-index: 10!important;
}