<v-dialog v-model="open" persistent max-width="400">
    <v-card>
        <v-card-title class="headline">Criar conta</v-card-title>
        <v-row class="mx-5">
            <v-col cols="12">
                <v-text-field prepend-icon="mdi-account" v-model="changePasswordModel.userName"
                    @input="$v.changePasswordModel.userName.$touch()" :disabled="disabledLogin" label="Usuário"
                    :error-messages="loginErrors" />
            </v-col>
            <v-col cols="12">
                <v-text-field id="actual-password" v-model.trim="changePasswordModel.actualPassword" name="senhaAtual"
                    label="Senha Atual" prepend-icon="mdi-lock" :type="showActualPassword ? 'text' : 'password'"
                    @input="$v.changePasswordModel.actualPassword.$touch()"
                    :append-icon="showActualPassword ? 'mdi-eye' : 'mdi-eye-off'" :error-messages="actualPasswordErrors"
                    @click:append="showActualPassword = !showActualPassword">
                </v-text-field>
            </v-col>
            <v-col cols="12">
                <v-text-field id="new-password" v-model.trim="changePasswordModel.newPassword" name="novaSenha"
                    label="Nova Senha" prepend-icon="mdi-lock" :type="showNewPassword ? 'text' : 'password'"
                    @input="$v.changePasswordModel.newPassword.$touch()"
                    :append-icon="showNewPassword ? 'mdi-eye' : 'mdi-eye-off'" :error-messages="newPasswordErrors"
                    @click:append="showNewPassword = !showNewPassword">
                </v-text-field>
            </v-col>
            <v-col cols="12">
                <v-text-field id="confirm-password" v-model.trim="changePasswordModel.confirmPassword"
                    name="confirmacaoSenha" label="Confirmação da nova senha" prepend-icon="mdi-lock"
                    @input="$v.changePasswordModel.confirmPassword.$touch()"
                    :type="showConfirmPassword ? 'text' : 'password'"
                    :append-icon="showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :error-messages="confirmedPasswordErrors"
                    @click:append="showConfirmPassword = !showConfirmPassword">
                </v-text-field>
            </v-col>
        </v-row>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn outlined small color="success darken-1" class="float-right" @click="changePassword()">Alterar Senha
            </v-btn>
            </v-btn>
            <v-btn outlined small color="error darken-1" @click="closeModal()">Cancelar</v-btn>
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>