
$cinza-claro: #f2f2f2;
$cinza: #D0D0CE;
$cinza-secundario: #BFBFBF;
$cinza-medio: #808080;
$cinza-medio-escuro: #747678;

$azul-claro: #1DB6F2;
$azul-medio: #0B79D9;
$azul: #004C99;
$azul-noturno: #57D6F2;
$azul-cinza: #2D3540;

$azul-info: #2196f3;

$amarelo-claro-branco: #FEF7BF;
$amarelo-claro: #FBDF00;
$amarelo: #F6BE00;
$amarelo-atencao: #FB8C00;

$verde: #009540;
$verde-limao: #5ba037;
$verde-noturno: #002510;
$verde-sucesso: #4CAF50;

$vermelho: #E10A17;
$vermelho-noturno: #380306;
$vermelho-erro: #FF5252;