@import './colors.scss';

// COMMON CONFIG;
$common-space: 10px;

// HEADER CONFIG
$header-height: 64px;

// SIDEBAR CONFIG
$sidebar-width: 216px;

// FONT
$font-family: 'Alegreya Sans', Arial, sans-serif !important;