<v-container class="fill-height" fluid style="
      padding-top: 5%;">
  <v-layout row wrap justify-center align-center>
    <v-col cols="8">
      <v-row style="display: flex; text-align: center; justify-content:center;
      padding-top: 5%">
        <h1 >Bem vindo(a), {{userName}} !</h1>

        <h3 >accessToken, {{accessToken}} endtoken!</h3>

        <h3 >permissions, {{permissions}} endperm!</h3>

        <h3 >administrationCodes, {{administrationCodes}} !</h3>
      </v-row>
      
    </v-col>

  </v-layout>

</v-container>
